<%# home page %>
<h1>Welcome to Alpha Blog</h1>
<%# consistent links about , home , articles %>
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Articles", articles_path %></li>
  </ul>
</nav>
