   <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white mt-5">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Abdullah Ubaid", "https://abdullahubaidd.vercel.app", class: "text-white"%> </small>
    </div>
  </footer>